<div class="header">
  <!-- <div class="header_left">
    <span class="material-symbols-outlined"> menu </span>
    <img
      src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r5.png"
      alt=""
    />
  </div>
  <app-headersearch
    (searchTextChanged)="onSearchTextEntered($event)"
  ></app-headersearch>
  <div class="header_right">
    <span class="material-symbols-outlined"> apps </span>
    <span class="material-symbols-outlined"> notifications </span>
    <span class="material-symbols-outlined"> account_box </span>
  </div>
</div> -->
  <div class="header_mid">
    <span class="material-symbols-outlined"> search </span>
    <input
      type="text"
      placeholder="Search Mail"
      id="sc-inp"
      [(ngModel)]="searchInputShow"
      (input)="onSearchTextChange()"
    />
    <span class="material-symbols-outlined"> expand_more </span>
  </div>
</div>
