.container{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    margin-right: 5%;
    right: 0;
    bottom: 10;
    position: fixed;

}

.inline-frm-cont{
    width: 500px;
    /* padding: 5px; */
    border: 2px solid black;

}
.newmessage{
    border: 1px solid grey;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }

.form-control{
    display: block;
    padding: 0.265rem 0.55rem;
    width: 95%;
    border-top: none;
    border-left: none;
    border-right: none;
}
#textare{
    width: 100%;
    color: gray;
}
