<body>
  <!-- Header Section -->

  <div class="header">
    <div class="header_left">
      <span class="material-symbols-outlined"> menu </span>
      <img
        src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r5.png"
        alt=""
      />
    </div>
    <div class="header_mid">
      <span class="material-symbols-outlined"> search </span>
      <input type="text" placeholder="Search Mail" id="sc-inp" />
      <span class="material-symbols-outlined"> expand_more </span>
    </div>
    <div class="header_right">
      <span class="material-symbols-outlined"> apps </span>
      <span class="material-symbols-outlined"> notifications </span>
      <span class="material-symbols-outlined"> account_box </span>
    </div>
  </div>

  <!-- Header Ends -->

  <!-- Main Body Start -->

  <div class="main_body">
    <!-- side-bar Start -->
    <div class="sidebar">
      <button class="sidebar_cumpose">
        <span class="material-symbols-outlined"> add </span>
        Compose
      </button>
      <div class="sidebarOption sidebarOption_active">
        <span class="material-symbols-outlined"> inbox </span>
        <h3>Inbox</h3>
      </div>
      <div class="sidebarOption sidebarOption_active">
        <span class="material-symbols-outlined"> star </span>
        <h3>Starred</h3>
      </div>

      <div class="sidebarOption sidebarOption_active">
        <span class="material-symbols-outlined"> access_time </span>
        <h3>Snoozed</h3>
      </div>

      <div class="sidebarOption sidebarOption_active">
        <span class="material-symbols-outlined"> label_important </span>
        <h3>label_important</h3>
      </div>

      <div class="sidebarOption sidebarOption_active">
        <span class="material-symbols-outlined"> near_me </span>
        <h3>Sent</h3>
      </div>

      <div class="sidebarOption sidebarOption_active">
        <span class="material-symbols-outlined"> note </span>
        <h3>Drafts</h3>
      </div>

      <div class="sidebarOption sidebarOption_active">
        <span class="material-symbols-outlined"> expand_more </span>
        <h3>More</h3>
      </div>

      <!-- footer -->
      <div class="sidebar_footer">
        <div class="sidebar_footerIcons">
          <span class="material-symbols-outlined"> person </span>
          <span class="material-symbols-outlined"> duo </span>
          <span class="material-symbols-outlined"> phone </span>
        </div>
      </div>
    </div>
    <!-- Sidebar End  -->

    <!-- Email List Start -->
    <div class="emaillist">
      <!-- Setting Start -->
      <div class="em-li-setting">
        <div class="em-li-rit">
          <input type="checkbox" />
          <span class="material-symbols-outlined"> arrow_drop_down </span>
          <span class="material-symbols-outlined"> redo </span>
          <span class="material-symbols-outlined"> more_vert </span>
        </div>

        <div class="em-li-lft">
          <span class="material-symbols-outlined"> chevron_left </span>
          <span class="material-symbols-outlined"> chevron_right </span>
          <span class="material-symbols-outlined"> keyboard_hide </span>
          <span class="material-symbols-outlined"> settings </span>
        </div>
      </div>
      <!-- Setting Ends -->

      <!-- table Start Section -->
      <table>
        <thead>
          <div class="emaillist_section">
            <tr>
              <th>
                <div class="section section_select">
                  <span class="material-symbols-outlined"> inbox </span>
                  <h4>Primary</h4>
                </div>
              </th>

              <th>
                <div class="section">
                  <span class="material-symbols-outlined"> people </span>
                  <h4>Socila</h4>
                </div>
              </th>
              <th>
                <div class="section">
                  <span class="material-symbols-outlined"> local_offer </span>
                  <h4>Promotions</h4>
                </div>
              </th>
            </tr>
          </div>
        </thead>

        <!-- table head Section -->

        <tbody>
          <tr *ngFor="let d of emailData">
            <div class="email-li-li">
              <div class="emailRow">
                <div class="emailRow_options">
                  <input type="checkbox" />
                  <span class="material-symbols-outlined"> star_border </span>
                  <span class="material-symbols-outlined">
                    label_important
                  </span>
                </div>
                <h3 class="emailrow-tlt">
                  {{ d.title }}
                </h3>
                <div class="emailrow-msg">
                  <h4>
                    {{ d.subject }}
                    <span class="email-rw-discp">
                      {{ d.message }}
                    </span>
                  </h4>
                </div>
                <!-- <h3 class="emailrow-tlt">Udemy</h3>
          <div class="emailrow-msg">
            <h4>
              You got a new subscriber
              <span class="email-rw-discp">
                K k has replied to your query regarding the asked question
              </span>
            </h4>
          </div> -->

                <p class="email-rw-tim">{{ d.datetime }}</p>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Email List End -->

    <div class="container" id="compose">
      <div class="inline-frm-cont">
        <div class="newmessage">
          <h3>New Message</h3>
        </div>
        <form [formGroup]="composeemail">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              name="To"
              placeholder="To"
              formControlName="id"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="from"
              placeholder="from"
              formControlName="title"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="Subject"
              placeholder="Subject"
              formControlName="subject"
            />
          </div>
          <div class="form-group">
            <textarea
              id="txtare"
              cols="30"
              rows="10"
              name="message"
              placeholder="write message"
              formControlName="message"
            ></textarea>
          </div>

          <button id="send-btn">Send</button>
        </form>
      </div>
    </div>
  </div>
</body>
